body {
  background-color: white;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.topsection {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 350px;
}

/*Navigation*/
nav {
  display: inline-block;
  align-self: center;
}

nav a {
  display: inline-block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.7em;
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: blue;
  text-decoration: none;
}

nav a:focus {
  background-color: white;
  color: blue;
  text-decoration: none;
}

nav a:active {
  background-color: white;
  color: blue;
  text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.7em;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

/*Content Styling*/
.content {
  padding: 2%;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

a:focus {
  color: blue;
  text-decoration: none;
}

a:active {
  color: blue;
  text-decoration: none;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  padding-bottom: 2%;
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  padding-bottom: 1.5%;
}

h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding-bottom: 1.5%;
}

h4 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  padding-bottom: 1.5%;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

img {
  width: 100%;
}

.gallery span {
  display: inline-block;
  padding-bottom: 10%;
}

.column {
  float: left;
  width: 45%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 2%;
  padding-bottom: 2%;
}

.breathe {
  position: relative;
}

@keyframes breathe {
  0% {width: .1vw; height: .1vw;}
  25% {width: .1vw; height: .1vw;}
  50% {width: 115vw; height: 115vw;}
  75% {width: 115vw; height: 115vw;}
  100% {width: .1vw; height: .1vw;}  
}

#circle {
  background: black;
  width: .1vw;
  height: .1vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: breathe;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 660px) {
  .column {
    width: 100%;
  }

  .logo {
    max-width: 250px;
  }

  .topsection {
    display: block;
    text-align: center;
  }
}