body {
  background-color: white;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.topsection {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 100%;
  max-width: 325px;
}

nav {
  display: inline-block;
  align-self: center;
}

nav a {
  display: inline-block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.7em;
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: blue;
  text-decoration: none;
}

nav a:active {
  background-color: white;
  color: blue;
  text-decoration: none;
}

.content {
  padding: 2%;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

a:active {
  color: blue;
  text-decoration: none;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1%;
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 2%;
  padding-bottom: 2%;
}